<form method="post" action="/search">
	<input type="text" name="restaurant[AKA Name]">
	<input type="text" name="restaurant[Address]">
	<input type="text" name="restaurant[Zip]">
	<input type="submit" value="Search">
</form>